[submodule "external/DKUtil"]
	path = Native Plugin/external/DKUtil
	url = https://github.com/gottyduke/DKUtil.git
[submodule "external/reshade"]
	path = ReShade Addon/external/reshade
	url = https://github.com/crosire/reshade
