[submodule "ReShade Addon/external/reshade"]
	path = ReShade Addon/external/reshade
	url = https://github.com/crosire/reshade
[submodule "ReShade Addon/external/DKUtil"]
	path = ReShade Addon/external/DKUtil
url=https://github.com/Filoppi/DKUtil.git